.text-custom {
    font-size: 280px;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    letter-spacing: 30px;
    color: #F9F6EE;
    position: absolute;
    bottom: -45%;
    left: 50%;
    transform: translateX(-50%);
    line-height: 1;
}

@media (max-width: 768px) {
    .text-custom {
        font-size: 70px;
        bottom: -12%;
        letter-spacing: 4px;
    }
}